# If you want to use Supabase, fill these
SUPABASE_URL=https://xxxxxxxxxx.supabase.co
SUPABASE_KEY=xXxXxxXXxxx

# Optional: control concurrency and base API
API_BASE=http://mixscrap.zeabur.internal:8080/api/komiku
CONCURRENCY=1
REQUEST_TIMEOUT_MS=15000
